.flex {
  display: flex;
  /*flex-wrap: wrap;*/
}

.flex-item {
  min-height: 300px;
  background: green;
  flex-grow: 1;
  margin: 5px;
}

.flex-double {
  flex: 2;
}

.flex-300 {
  flex: 0 0 300px;
}