

/*-----Global--------*/

@font-face {
    font-family: openRegular;
    src: url(../fonts/open/OpenSans-Regular.ttf);
}

* {
    box-sizing: border-box;  
}

body {
    font-family: 'openRegular', sans-serif;
    margin: 0;
    color: #666;
}

h2 {
    font-size: 1.142rem;
    color: #333;
}

strong {
    color: #333;
    font-weight: normal;
}

/*------Helpers---------*/

.clean-list {
    list-style: none;
}
/*----Layout-----*/

section {
    border: 1px solid #ddd;
    width: 400px;
    padding: 20px;
    margin: 20px;
}

/*-----Timeline--------*/

.timeline {
    border-left: 1px solid #b7b7b7;
    margin: 0 0 0 130px;
}

.timeline .timeline__event {
    height: 60px;
    position: relative;
}

.timeline .timeline__event:before {
    content: attr(data-hour);
    display: block;
    position: absolute;
    width: 130px;
    left: -180px;
    text-align: end;
}

.timeline .timeline__event:after {
    content: "";
    background: #fff;
    width: 9px;
    height: 9px;
    border: 1px solid #14b876;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -26px;
    box-shadow: 0 0 0 2px white;
}

.timeline .timeline__day {
    padding: 0 0 0 20px;
}

/*-------Profile---------*/

.profile__details {
    padding: 0 0 0 65px;
    background-image: url(../svg/profile.svg);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: left center;
}

.profile__name {
    font-size: 1.125rem;
    color: #333;
}

/*--------Circles---------*/

.c100 .bar {
    transition: all 2s;
}

.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: none;
    margin: 0 0.1em 0.1em 0;
    background-color: #ececec;
}

.c100 *, .c100 *:before, .c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.c100 > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #14c67e;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.green .bar, .c100.green .fill {
    border-color: #14c67e !important;
}

.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #fff;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;

    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}

.c100.green:hover > span {
    color: #14c67e;
}

.c100:hover:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}

