

/*-----Global--------*/

@font-face {
    font-family: openRegular;
    src: url(../fonts/open/OpenSans-Regular.ttf);
}

* {
    box-sizing: border-box;  
}

body {
    font-family: 'openRegular', sans-serif;
    margin: 0;
    color: #666;
}

h2 {
    font-size: 1.142rem;
    color: #333;
}

strong {
    color: #333;
    font-weight: normal;
}

/*------Helpers---------*/

.clean-list {
    list-style: none;
}
/*----Layout-----*/

section {
    border: 1px solid #ddd;
    width: 400px;
    padding: 20px;
    margin: 20px;
}

/*-----Timeline--------*/

.timeline {
    border-left: 1px solid #b7b7b7;
    margin: 0 0 0 130px;
}

.timeline .timeline__event {
    height: 60px;
    position: relative;
}

.timeline .timeline__event:before {
    content: attr(data-hour);
    display: block;
    position: absolute;
    width: 130px;
    left: -180px;
    text-align: end;
}

.timeline .timeline__event:after {
    content: "";
    background: #fff;
    width: 9px;
    height: 9px;
    border: 1px solid #14b876;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -26px;
    box-shadow: 0 0 0 2px white;
}

.timeline .timeline__day {
    padding: 0 0 0 20px;
}

/*-------Profile---------*/

.profile__details {
    padding: 0 0 0 65px;
    background-image: url(../svg/profile.svg);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: left center;
}

.profile__name {
    font-size: 1.125rem;
    color: #333;
}